
<nav class="navbar bg-body-tertiary border-bottom border-danger">
    <div class="p-2 card text-bg-secondary rounded-0 " style="width:5% !important; height: 100% !important;"></div>
    <div class="container">

        <div class="d-flex flex-column mb-3">
        <p class="h1 p-2">Miau Gomez</p>
        <p class="card-text p-2">Se hacer cosas</p>
        </div>
        <img class=" rounded-circle justify-content-start" src="assets/gato.jpg" alt="YO" width="150" height="150"/>
        <div class="d-flex flex-column mb-3">
        <p class="text-danger">Twitter</p>
      <p class="text-danger">Instagram</p>
      <p class="text-danger">271 209 8996</p>
        </div>

    </div>
  </nav>