<app-header></app-header>

<div class="row">

    <div class="col">
        <h1>Work Experience</h1>
        <app-work-experience [title]=" 'Programacion Orientada Objetos'" [subtitle]="'Universidad veracruzana'" [content]="'Ejerci programacion orientada a objetos por mas de 2 semestres '"></app-work-experience>
        <app-work-experience [title]=" 'Programacion Orientada Objetos'" [subtitle]="'Universidad veracruzana'" [content]="'Ejerci programacion orientada a objetos por mas de 2 semestres '"></app-work-experience>
        <app-work-experience [title]=" 'Programacion Orientada Objetos'" [subtitle]="'Universidad veracruzana'" [content]="'Ejerci programacion orientada a objetos por mas de 2 semestres '"></app-work-experience>
        <app-work-experience [title]=" 'Programacion Orientada Objetos'" [subtitle]="'Universidad veracruzana'" [content]="'Ejerci programacion orientada a objetos por mas de 2 semestres '"></app-work-experience>
    </div>

    <div class="col">

        <h1>Skills & competences</h1>
        <app-skills  [title]=" 'Belleza'" [width]="'80%'" ></app-skills>
        <app-skills [title]=" 'Belleza'" [width]="'60%'" ></app-skills>
        <app-skills [title]=" 'Belleza'" [width]="'100%'" ></app-skills>
        <app-skills [title]=" 'Belleza'" [width]="'80%'" ></app-skills>

        <h1>Certificates</h1>
        <app-certificates [content]="'Ejerci programacion orientada a objetos por mas de 2 semestres '"></app-certificates>
        <app-certificates [content]="'Ejerci programacion orientada a objetos por mas de 2 semestres '"></app-certificates>
        <app-certificates [content]="'Ejerci programacion orientada a objetos por mas de 2 semestres '"></app-certificates>

    </div>

</div>
