
<div class="row">

    <div class="col">
        <h1>Work Experience</h1>
        <app-work-experience [title]=" 'Programacion Orientada Objetos'" [subtitle]="'Universidad veracruzana'" [content]="'Ejerci programacion orientada a objetos por mas de 2 semestres '"></app-work-experience>
        <app-work-experience [title]=" 'Programacion Orientada Objetos'" [subtitle]="'Universidad veracruzana'" [content]="'Ejerci programacion orientada a objetos por mas de 2 semestres '"></app-work-experience>
        <app-work-experience [title]=" 'Programacion Orientada Objetos'" [subtitle]="'Universidad veracruzana'" [content]="'Ejerci programacion orientada a objetos por mas de 2 semestres '"></app-work-experience>
        <app-work-experience [title]=" 'Programacion Orientada Objetos'" [subtitle]="'Universidad veracruzana'" [content]="'Ejerci programacion orientada a objetos por mas de 2 semestres '"></app-work-experience>
    </div>

</div>